<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='index/img/favicon.png') }}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='output.css') }}" rel="stylesheet">
    <title>railEnquish</title>
</head>
<body class="bg-background">
    <a href="{{ url_for('index') }}">
        <h1 class="text-4xl font-bold font-mono absolute p-9 text-text" >railEnquish<span class="text-primary">.</span></h1>
    </a>
    <div class="container grid h-screen place-items-center mx-auto p-10">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
