{% extends "base.html" %}

{% block content %}
<div class="bg-gradient-to-bl from-grgray via-grgray/75 to-grgray/20 p-6 px-24 rounded-lg shadow-md max-w-md grid place-items-center">
    <h1 class="text-3xl text-text font-bold">Register</h1>
    <form method="POST" action="{{ url_for('register') }}">
        <div class="mt-4">
            <label class="block text-gray-300" for="reg_username">Username:</label>
            <input class="bg-gray-400/5 text-text border border-white/30 rounded-md py-2 px-3" type="text" name="reg_username" id="reg_username" required>
        </div>
        <div class="mt-4">
            <label class="block text-gray-300" for="reg_password">Password:</label>
            <input class="bg-gray-400/5 text-text border border-white/30 rounded-md py-2 px-3" type="password" name="reg_password" id="reg_password" required>
        </div>
        <button class="bg-primary/0 border border-white/75 text-text/75 rounded-md px-4 py-2 mt-4 transition-all duration-300 hover:text-text/100 hover:border-primary hover:bg-primary" type="submit">Register</button>
    </form>
</div>
{% endblock %}